@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  /* フォントサイズ */
  --fs-ham-label: 0.625rem; /* 10px */
  --fs-fv-copyEn: clamp(3.5rem, 7.29vw, 4.5rem); /* 56px 〜 72px */
  --fs-fv-copyJa: clamp(1rem, 2.08vw, 1.25rem); /* 16px 〜 20px */
  --fs-c-title: clamp(1.75rem, 4.17vw, 2rem); /* 28px 〜 32px */
  --fs-c-txt: 1rem; /* 16px */
  --fs-btn: clamp(0.688rem, 1.43vw, 0.75rem); /* 11px 〜 12px */
  --fs-date: 0.625rem; /* 10px */
  --fs-footer-copyright: 0.625rem; /* 10px */
  --fs-nav: 1.25rem; /* 20px */
  --fs-c-content-text: clamp(0.875rem, 2.08vw, 1rem); /* 14px 〜 16px */
  /* 下層ページ */
  --fs-c-page-title: clamp(3.25rem, 6.77vw, 4.5rem); /* 52px 〜 72px */
  --fs-c-sub-title: clamp(1rem, 2.08vw, 1.25rem); /* 16px 〜 20px */
  --fs-c-section-title: 2rem; /* 32px */
  --fs-form-label: 1rem; /* 16px */
  /* その他 */
  --fs-txt-12: clamp(0.75rem, 1.82vw, 0.875rem); /* 12px 〜 14px */
  --fs-txt-24: 1.5rem; /* 16px */

  /* 固定色 */
  --black: #333;
  --white: #fff;

  /* 背景色 */
  --bg-fv: #222;
  --bg-btn: #000;
  --bg-footer: #525252;
  --bg-gray: #f2f2f2;
  --bg-lightGray: #f0f0f0;
}

/* ============================
* 共通
* ========================= */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 100%;
  box-sizing: border-box;
  position: relative;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

img {
  height: auto;
  display: block;
}

.hidden {
  display: none;
}

/* 英語フォント指定 */
[lang="en"] {
  text-transform: uppercase;
  font-family: "Montserrat", san-serif;
}

/* セクションタイトル */
.c-title {
  font-size: var(--fs-c-title);
  line-height: 1.214;
  font-weight: 800;
  letter-spacing: 0.068em;
}

/* 本文 */
.c-text {
  font-size: var(--fs-c-txt);
  line-height: 1;
}

.c-content-text {
  font-size: var(--fs-c-content-text);
}

/* Read Moreボタン */
.c-btn-more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-btn);
  color: var(--white);
  font-weight: 600;
  letter-spacing: 0.015em;
  background-color: var(--bg-btn);
  width: 160px;
  height: 36px;
}

/* 画像 */
@media screen and (min-width: 768px) {
  .c-img {
    max-width: 520px;
    width: 100%;
    max-height: 350px;
    height: 100%;
  }
}

/* コンテンツ幅 */
.l-inner {
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .l-inner {
    padding: 40px 30px;
  }
}
@media screen and (min-width: 1440px) {
  .l-inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
}

/* 横並び */
.l-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.l-column-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .l-column-wrapper {
    padding-top: 20px;
    padding-bottom: 0;
    gap: 0;
  }
}
@media screen and (min-width: 1440px) {
  .l-column-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 60px;
    margin-top: -100px;
  }
}

/* 背景色 */
.l-bg-color {
  background-color: var(--bg-lightGray);
}

/*-------------------------
 下層ページ
-------------------------*/
/* ページタイトル */
.c-page-title {
  font-size: var(--fs-c-page-title);
  line-height: 1.212;
  font-weight: 800;
}

.c-sub-title {
  display: block;
  font-size: var(--fs-c-sub-title);
  line-height: 1.5;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: 0;
}

/* セクションタイトル */
.c-section-title {
  font-size: var(--fs-c-section-title);
  letter-spacing: 0.068em;
  font-weight: 800;
}

/* キャッチコピー */
.c-section-copy {
  font-size: var(--fs-txt-24);
  line-height: 1.46;
}

/* ============================
*  Header
* ========================= */
.header {
  position: fixed;
  padding: 20px 15px;
  width: 100%;
  z-index: 10;
  transition: 0.3s ease;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 33px 30px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 30px 4.03%;
  }
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__img {
    width: 189px;
    height: auto;
    object-fit: cover;
  }
}
@media screen and (min-width: 1440px) {
  .header__img {
    width: 260px;
  }
}

/* メニューのスタイル */
.nav__menu-wrapper {
  position: fixed;
  z-index: 5;
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: 0.5s ease;
}

.nav__menu-wrapper.open {
  position: fixed;
  z-index: 5;
  background-color: var(--bg-fv);
  filter: opacity(0.95);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
}

.nav__menu-content {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav__menu-wrapper.open .nav__menu-content {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav__menu-link {
  font-size: var(--fs-nav);
  font-weight: 800;
  color: var(--white);
}

.header.open .nav__menu-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------------------
  ハンバーガーメニュー
-------------------------*/
.hamburger__wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 7px;
  width: 61px;
  top: 50%;
  transform: translateY(-50%);
  height: 13px;
  position: absolute;
  right: 15px;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .hamburger__wrapper {
    right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .hamburger__wrapper {
    top: 48%;
    right: 4.03%;
  }
}

.hamburger {
  right: 0;
  width: 22px;
  height: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  z-index: 100;
}

.hamburger:hover {
  opacity: 0.7;
  cursor: pointer;
}

.hamburger__line {
  display: block;
  margin: auto;
  width: 22px;
  height: 4px;
  transform: scaleY(0.5);
  background-color: var(--white);
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
  z-index: 100;
}

.hamburger__label {
  display: block;
  font-size: var(--fs-ham-label);
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

.hamburger__line:nth-of-type(1) {
  top: 0px;
}

.hamburger__line:nth-of-type(2) {
  top: 5px;
}

.hamburger__line:nth-of-type(3) {
  top: 10px;
}

/* メニューオープン時のクラス */
.hamburger[aria-expanded="true"] .hamburger__line:nth-of-type(2) {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line:nth-of-type(1),
.hamburger[aria-expanded="true"] .hamburger__line:nth-of-type(3) {
  top: 5px;
  background-color: var(--white);
  z-index: 100;
}

.hamburger[aria-expanded="true"] .hamburger__line:nth-of-type(1) {
  -webkit-transform: rotate(-345deg);
  -ms-transform: rotate(-345deg);
  transform: rotate(-345deg) scaleY(0.5);
}

.hamburger[aria-expanded="true"] .hamburger__line:nth-of-type(3) {
  -webkit-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  transform: rotate(345deg) scaleY(0.5);
}

/* ============================
* Main
* ========================= */
/*-------------------------
  FV
-------------------------*/
.fv__inner {
  background-color: var(--bg-fv);
  background: linear-gradient(90deg, var(--white) 0%, var(--white) 24.53%, var(--bg-fv) 24.53%, var(--bg-fv) 75.47%);
  z-index: -2;
  height: 100vh;
  margin-bottom: 78px;
}
@media screen and (min-width: 768px) {
  .fv__inner {
    background: linear-gradient(90deg, var(--white) 0%, var(--white) 26.82%, var(--bg-fv) 26.82%, var(--bg-fv) 73.18%);
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .fv__inner {
    margin-bottom: 120px;
    background: linear-gradient(90deg, var(--white) 0%, var(--white) 45.83%, var(--bg-fv) 45.83%, var(--bg-fv) 54.17%);
  }
}

.fv__bg-img {
  position: relative;
  top: 0;
  background-image: url(../img/kv-img.png);
  background-size: cover;
  background-position: center;
  width: 76.53vw;
  height: 86.957vh;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .fv__bg-img {
    height: 86.914vh;
  }
}
@media screen and (min-width: 1440px) {
  .fv__bg-img {
    height: 86.486vh;
  }
}

/* FVキャッチコピー */
.fv__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -19vw;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .fv__content {
    right: -13.5vw;
  }
}
@media screen and (min-width: 1440px) {
  .fv__content {
    right: -10vw;
  }
}

.fv__copy--ja {
  font-size: var(--fs-fv-copyJa);
  font-weight: 600;
  line-height: 1.3;
}
@media screen and (min-width: 1440px) {
  .fv__copy--ja {
    line-height: 1.3;
  }
}

.fv__copy--en {
  font-size: var(--fs-fv-copyEn);
  font-weight: 800;
  line-height: 1.036;
  letter-spacing: 0.063em;
}
@media screen and (min-width: 1440px) {
  .fv__copy--en {
    letter-spacing: 0;
    line-height: 1.19;
  }
}

/*-------------------------
  About
-------------------------*/
.about .l-column-wrapper {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.about .l-inner {
  background-image: url(../img/about-img.png);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .about .l-inner {
    padding: 60px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about .l-inner::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: opacity(0.16);
    position: absolute;
    background-color: var(--white);
    z-index: 1;
  }
}
@media screen and (min-width: 1440px) {
  .about .l-inner {
    padding: 110px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.about__content {
  background-color: var(--white);
  filter: opacity(0.9);
  padding: 50px 15px 50px 30px;
}
@media screen and (min-width: 768px) {
  .about__content {
    max-width: 590px;
    width: 100%;
    max-height: 359px;
    height: 100%;
    padding: 40px 30px;
  }
}
@media screen and (min-width: 1440px) {
  .about__content {
    max-height: 387px;
    padding: 50px 30px;
  }
}

.about__content.l-column {
  gap: 23px;
}
@media screen and (min-width: 1440px) {
  .about__content.l-column {
    gap: 26px;
  }
}

.about__desc {
  font-size: var(--fs-c-content-text);
  line-height: 2;
}

/*-------------------------
  Topics
-------------------------*/
.topics__inner {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .topics__inner.l-column {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 60px;
  }
}

.topics__list.l-column {
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .topics__list.l-column {
    gap: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .topics__list.l-column {
    width: 700px;
    padding-top: 70px;
    gap: 30px;
  }
}

.topics__list-item {
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.topics__date {
  font-size: var(--fs-date);
  line-height: 1.3;
  letter-spacing: 0.015em;
  color: #cecece;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .topics__date {
    margin-bottom: 7px;
  }
}

.topics__desc {
  font-size: var(--fs-txt-12);
  line-height: 1.458;
}

.topics__list-item:nth-child(1) .topics__desc {
  letter-spacing: 0.068em;
}
@media screen and (min-width: 768px) {
  .topics__list-item:nth-child(1) .topics__desc {
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1440px) {
  .topics__link {
    margin-left: auto;
  }
}

/*-------------------------
  Contact
-------------------------*/
.contact .l-inner {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contact .l-inner {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .contact .l-inner {
    padding: 58px 0 120px;
  }

  .contact__img {
    max-width: 580px;
    max-height: 390px;
  }
}

@media screen and (min-width: 768px) {
  .contact .c-title {
    letter-spacing: 0;
  }
}

.contact__desc.c-text {
  line-height: 1.87;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .contact__desc.c-text {
    max-width: 510px;
    margin-top: -7px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .contact__desc.c-text {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .contact > .l-column {
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
  }
}

/* ============================
* Footer
* ========================= */
.footer {
  background-color: var(--bg-footer);
  height: 50px;
}
.footer__inner.l-column {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: var(--white);
  font-size: var(--fs-footer-copyright);
}

/* ============================
* Aboutページ
* ========================= */
/*-------------------------
  FV
-------------------------*/
.page-about .fv__inner {
  height: 67.316vh;
  background: linear-gradient(90deg, var(--white) 0%, var(--white) 47.2%, var(--bg-fv) 47.2%, var(--bg-fv) 52.8%);
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .page-about .fv__inner {
    height: 60.059vh;
  }
}
@media screen and (min-width: 1440px) {
  .page-about .fv__inner {
    background: linear-gradient(90deg, var(--white) 0%, var(--white) 45.833%, var(--bg-fv) 45.833%, var(--bg-fv) 54.167%);
    height: 53.1vh;
  }
}

.page-about .fv__content {
  right: -15.4vw;
}
@media screen and (min-width: 768px) {
  .page-about .fv__content {
    right: -10.4vw;
  }
}
@media screen and (min-width: 1440px) {
  .page-about .fv__content {
    top: 56%;
    right: -11.7vw;
    letter-spacing: 0.25em;
  }
}

.page-about .fv__bg-img {
  background-image: url(../img/heading-img.png);
  height: 58.021vh;
}
@media screen and (min-width: 768px) {
  .page-about .fv__bg-img {
    height: 51.66vh;
  }
}
@media screen and (min-width: 1440px) {
  .page-about .fv__bg-img {
    height: 44.6vh;
  }
}

/*-------------------------
  コンテンツ
-------------------------*/
.page-about-content__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .page-about-content__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .page-about-content__wrapper {
    padding-top: 124px;
    padding-bottom: 120px;
  }
}

.page-about .l-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .page-about .l-inner {
    padding: 0;
  }
}

/* VISION */
@media screen and (min-width: 768px) {
  .vision .l-inner {
    padding-left: 150px;
    gap: 23px;
  }
}
@media screen and (min-width: 1440px) {
  .vision .l-inner {
    padding-left: 226px;
    margin-bottom: 126px;
  }
}

@media screen and (min-width: 768px) {
  .vision__title {
    line-height: 1.22;
  }
}

@media screen and (min-width: 768px) {
  .vision .c-section-copy {
    line-height: 1.46;
  }
}
@media screen and (min-width: 1440px) {
  .vision .c-section-copy {
    line-height: 1;
  }
}

.vision__content,
.ceo__content {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

@media screen and (min-width: 768px) {
  .vision__content .c-content-text {
    font-size: 0.875rem;
  }
}
.page-about .c-content-text {
  line-height: 2;
}
@media screen and (min-width: 1440px) {
  .page-about .c-content-text::first-line {
    line-height: 1.5;
  }

  .vision__content {
    gap: 40px;
  }
}

/* CEO */
@media screen and (min-width: 768px) {
  .ceo .l-inner {
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1440px) {
  .ceo .l-inner {
    margin-bottom: 120px;
  }
}

.ceo__text-content {
  background: var(--bg-lightGray);
  padding: 126px 28px 80px;
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -130px;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .ceo__text-content {
    width: 494px;
    margin-left: auto;
    margin-top: -118px;
    padding: 109px 38px 78px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .ceo__text-content {
    width: 770px;
    margin-left: auto;
    padding: 80px 185px 90px;
    gap: 33px;
  }

  .ceo__content {
    gap: 41px;
  }
}

@media screen and (min-width: 768px) {
  .ceo__title {
    line-height: 1.22;
  }
}

@media screen and (min-width: 768px) {
  .ceo__content .c-content-text {
    line-height: 1.75;
  }
}

.ceo__img {
  order: 1;
  margin-left: -15px;
}
@media screen and (min-width: 768px) {
  .ceo__img {
    width: 320px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1440px) {
  .ceo__img {
    width: 420px;
  }
}

/* COMPANY */
.company .l-inner {
  margin-bottom: 40px;
  gap: 0;
}
@media screen and (min-width: 1440px) {
  .company .l-inner {
    margin-bottom: 0;
  }
}

.company__title {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
  .company__title {
    line-height: 1.22;
  }
}
@media screen and (min-width: 1440px) {
  .company__title {
    padding-bottom: 33px;
  }
}

.company__list {
  margin-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .company__list {
    width: 800px;
    margin-left: auto;
  }
}

.company__list-item {
  display: flex;
  justify-content: space-between;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: var(--fs-c-content-text);
  padding: 22px 0;
  border-bottom: 1px solid #ddd;
}

@media screen and (min-width: 768px) {
  .company__list-item {
    margin-left: 30px;
    padding: 20px 0;
  }
}
@media screen and (min-width: 1440px) {
  .company__list-item {
    margin-left: 0;
  }
}

.company__def {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .company__def {
    width: 79%;
  }
}
@media screen and (min-width: 1440px) {
  .company__def {
    width: 82%;
  }
}

.company__map iframe {
  width: 100%;
  height: 475px;
}
@media screen and (min-width: 768px) {
  .company__map iframe {
    height: 230px;
  }
}
@media screen and (min-width: 1440px) {
  .company__map iframe {
    height: 360px;
  }
}
/* ============================
* Contactページ
* ========================= */
/*-------------------------
  FV
-------------------------*/
.page-contact .fv__inner {
  height: 54.723vh;
  margin-bottom: 0;
  background: linear-gradient(90deg, var(--white) 0%, var(--white) 47.2%, var(--bg-fv) 47.2%, var(--bg-fv) 52.8%);
}
@media screen and (min-width: 768px) {
  .page-contact .fv__inner {
    height: 60.059vh;
  }
}
@media screen and (min-width: 1440px) {
  .page-contact .fv__inner {
    height: 51.8vh;
    background: linear-gradient(90deg, var(--white) 0%, var(--white) 45.833%, var(--bg-fv) 45.833%, var(--bg-fv) 54.167%);
  }
}
.page-contact .fv__content {
  top: 65.6%;
  right: -18vw;
  text-align: right;
  letter-spacing: 0.2em;
  line-height: 1.37;
}
@media screen and (min-width: 768px) {
  .page-contact .fv__content {
    top: 33.6%;
    right: -17.4vw;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .page-contact .fv__content {
    top: 56.6%;
    right: -13.3vw;
    letter-spacing: 0.063em;
  }
}

.page-contact .fv__bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url(../img/heading-img_contact_sp.png);
  height: 40.48vh;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .page-contact .fv__bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url(../img/heading-img_contact.png);
    height: 51.66vh;
  }
}
@media screen and (min-width: 1440px) {
  .page-contact .fv__bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url(../img/heading-img_contact.png);
    height: 44.4vh;
  }
}

/*-------------------------
  コンテンツ
-------------------------*/
.page-contact-content__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .page-contact-content__wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .page-contact-content__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .page-contact-content__wrapper .l-inner {
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .page-contact-content__wrapper .l-inner {
    max-width: 700px;
  }
}

.contact__form .c-content-text {
  line-height: 1.71;
  margin-bottom: 50px;
  margin-top: -5px;
}
@media screen and (min-width: 768px) {
  .contact__form .c-content-text {
    line-height: 1.5;
    margin-bottom: 35px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .contact__form .c-content-text {
    margin-bottom: 57px;
  }
}

/* 音合わせフォーム */
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .form {
    gap: 35px;
    padding-top: 9px;
  }
}
@media screen and (min-width: 1440px) {
  .form {
    gap: 40px;
    padding-top: 0;
  }
}

.form__item-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-form-label);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .form__item-label {
    line-height: 1.5;
    margin-bottom: 8px;
  }
}

.require-label {
  width: 34px;
  height: 18px;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--fs-txt-12);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__form .l-column.inquiry-type__list {
  width: 100%;
  align-items: flex-start;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .contact__form .l-column.inquiry-type__list {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.inquiry-type__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inquiry-type {
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}
@media screen and (min-width: 768px) {
  .inquiry-type {
    margin: 0;
  }
}

.inquiry-type__label {
  display: block;
}

.form__item-label--personal {
  font-weight: 800;
}

.form__item:first-of-type .form__item-label {
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .form__item:first-of-type {
    margin-left: 10px;
  }

  .form__item:first-of-type .form__item-label {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .form__item:first-of-type .form__item-label {
    margin-left: -10px;
  }
}

.form__item--input,
.form__item--textarea {
  background-color: var(--white);
  border: 1px solid var(--black);
}

.form__item--input {
  height: 48px;
}
@media screen and (min-width: 1440px) {
  .form__item--input {
    height: 41px;
  }
}

.form__item--textarea {
  height: 210px;
}
@media screen and (min-width: 768px) {
  .form__item--textarea {
    height: 180px;
  }
}
@media screen and (min-width: 1440px) {
  .form__item--textarea {
    height: 212px;
  }
}

@media screen and (min-width: 1440px) {
  .form__item--personal {
    margin-top: -5px;
  }
}

.personal__desc-wrapper {
  width: 100%;
  height: 226px;
  border: 1px solid var(--black);
  padding: 10px 10px 0;
}
@media screen and (min-width: 1440px) {
  .personal__desc-wrapper {
    height: 252px;
  }
}

.personal__desc {
  font-family: "Noto Sans JP";
  font-size: var(--fs-c-content-text);
  line-height: 1.71;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .personal__desc {
    line-height: 1.5;
  }
}

.personal__desc--scroll {
  width: 100%;
  height: 206px;
  overflow-y: scroll;
  scrollbar-width: none;
}
@media screen and (min-width: 768px) {
  .personal__desc--scroll {
    height: 210px;
  }
}
.personal__desc-label {
  display: block;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .personal__desc-label {
    margin-bottom: 5px;
  }

  .personal__desc-text {
    line-height: 1.4;
  }
}

.personal__desc-list {
  font-family: "Noto Sans JP";
  list-style: decimal;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.personal__check {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  font-size: var(--fs-c-content-text);
  line-height: 1;
  letter-spacing: 0.004em;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .personal__check {
    justify-content: center;
  }
}

#personal-check {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* サイズ指定 */
  width: 16px; /* お好みのサイズに変更可能 */
  height: 16px;
  /* ボーダーの設定 */
  border: 1px solid #000;
  border-radius: 0; /* 角を四角に */
  /* その他のスタイル */
  background-color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #personal-check {
    width: 20px;
    height: 20px;
  }
}

.submit-btn {
  width: 160px;
  height: 36px;
  margin-inline: auto;
  background-color: var(--bg-btn);
  color: var(--white);
}

/* ============================
* スクロールダウン
* ========================= */
.scroll-down {
  transform: rotate(-90deg);
  position: absolute;
  top: 48vh;
  left: -6px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .scroll-down {
    display: none;
  }
}

.scroll-down__label {
  font-size: var(--fs-txt-12);
  font-weight: 800;
  letter-spacing: 0.038em;
  line-height: 2.67;
  position: relative;
}

.scroll-down__label::after {
  position: absolute;
  content: "";
  width: 84px;
  height: 1px;
  content: "";
  background-color: var(--bg-btn);
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4.8px;
  transform-origin: left;
  animation: lineFlow 2s infinite;
  background: linear-gradient(90deg, #fff 0%, #000 50%);
  background-size: 200% 100%;
  animation: lineFlow 2s infinite linear;
}
/* 線のアニメーション */
@keyframes lineFlow {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
