@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  /* フォントサイズ */
  --fs-fv-copyEn: clamp(3.5rem, 7.29vw, 4.5rem); /* 56px 〜 72px */
  --fs-fv-copyJa: clamp(1rem, 2.08vw, 1.25rem); /* 16px 〜 20px */
  --fs-c-title: clamp(1.75rem, 4.17vw, 2rem); /* 28px 〜 32px */
  --fs-c-txt: clamp(0.875rem, 2.08vw, 1rem); /* 14px 〜 16px */
  --fs-btn: 0.75rem; /* 12px */
  --fs-footer-copyright: 0.625rem; /* 10px */

  /* 固定色 */
  --black: #333;
  --white: #fff;

  /* 背景色 */
  --bg-fv: #222;
  --bg-btn: #000;
  --bg-footer: #525252;
  --bg-gray: #f2f2f2;
}

/* ============================
* 共通
* ========================= */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", san-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

img {
  height: auto;
  display: block;
}

.hidden {
  display: none;
}
.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 899px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}

/* 英語フォント指定 */
[lang="en"] {
  text-transform: uppercase;
}

/* ============================
*  Header
* ========================= */

/*-------------------------
  ハンバーガーメニュー
-------------------------*/
.hamburger__wrapper {
  display: none;
}

.hidden-text {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* メニューのスタイル */
@media screen and (max-width: 899px) {
  .header__nav {
    display: block;
    position: fixed;
    z-index: 5;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: 0.5s ease;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__nav.open {
    display: block;
    position: fixed;
    z-index: 5;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
  }

  .header.open .header__nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* ハンバーガーメニューのスタイル */
  .hamburger__wrapper {
    display: block;
    height: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 100;
  }

  .hamburger:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .hamburger__line {
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: transform 0.3s, opacity 0.3s;
    position: absolute;
    z-index: 100;
  }

  .hamburger__line::before,
  .hamburger__line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: inherit;
    transition: inherit;
  }

  .hamburger__line::before {
    top: -10px;
  }

  .hamburger__line::after {
    top: 10px;
  }

  /* メニューオープン時のクラス */
  .hamburger[aria-expanded="true"] .hamburger__line {
    background-color: transparent;
  }

  .hamburger[aria-expanded="true"] .hamburger__line::before,
  .hamburger[aria-expanded="true"] .hamburger__line::after {
    top: 0;
    background-color: var(--white);
    z-index: 100;
  }

  .hamburger[aria-expanded="true"] .hamburger__line::before {
    -webkit-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  .hamburger[aria-expanded="true"] .hamburger__line::after {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

/* ============================
* Main
* ========================= */
/*-------------------------
  FV
-------------------------*/

/* ============================
* Footer
* ========================= */

/* ============================
* Aboutページ
* ========================= */

/* ============================
* Contactページ
* ========================= */
